[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/pi/Desktop/Apagar_Imagen.desktop]
row=1
col=7

[/home/pi/Desktop/Editar_svxlink.desktop]
row=5
col=15

[/home/pi/Desktop/Abrir_solodstar.desktop]
row=4
col=5

[/home/pi/Desktop/Reinciar_Imagen.desktop]
row=1
col=6

[/home/pi/Desktop/Abrir_solofusion.desktop]
row=4
col=4

[/home/pi/Desktop/Abrir_YSF2DMR.desktop]
row=4
col=11

[/home/pi/Desktop/Configurar_ircddb.desktop]
row=5
col=9

[/home/pi/Desktop/Editar_DExtra_Bluedv.desktop]
row=7
col=8

[/home/pi/Desktop/Borrar_Logs.desktop]
row=1
col=15

[/home/pi/Desktop/Actualizar_MMDVMHost.desktop]
row=1
col=9

[/home/pi/Desktop/Abrir_Dialer.desktop]
row=5
col=7

[/home/pi/Desktop/Editar_ESPECIAL.desktop]
row=5
col=3

[/home/pi/Desktop/Editar_solodstar.desktop]
row=5
col=5

[/home/pi/Desktop/Abrir_ircDDB.desktop]
row=4
col=9

[/home/pi/Desktop/Copiar_Restaurar.desktop]
row=1
col=12

[/home/pi/Desktop/RXF_DMR2YSF.desktop]
row=6
col=12

[/home/pi/Desktop/Abrir_Dvrptr.desktop]
row=4
col=17

[/home/pi/Desktop/Abrir_ambe_server.desktop]
row=4
col=16

[/home/pi/Desktop/Abrir_Qtel.desktop]
row=6
col=15

[/home/pi/Desktop/RXF_DMR2NXDN.desktop]
row=6
col=13

[/home/pi/Desktop/Editar_MMDVMDMR2YSF.desktop]
row=5
col=12

[/home/pi/Desktop/Md380_tools.desktop]
row=1
col=11

[/home/pi/Desktop/RXF_SOLOFUSION.desktop]
row=6
col=4

[/home/pi/Desktop/Editar_MMDVMBM.desktop]
row=5
col=0

[/home/pi/Desktop/Abrir_dstarrepeater.desktop]
row=4
col=10

[/home/pi/Desktop/Abrir_BlueDV.desktop]
row=4
col=8

[/home/pi/Desktop/Actualizar_IDS.desktop]
row=1
col=10

[/home/pi/Desktop/Editar_solofusion.desktop]
row=5
col=4

[/home/pi/Desktop/Editar_BLUEDV.desktop]
row=5
col=8

[/home/pi/Desktop/Abrir_MMDVMPLUS.desktop]
row=4
col=1

[/home/pi/Desktop/editar_ambe_server.desktop]
row=5
col=16

[/home/pi/Desktop/Editar_Radio.desktop]
row=5
col=2

[/home/pi/Desktop/Editar_MMDVMDMR2NXDN.desktop]
row=5
col=13

[/home/pi/Desktop/RXF_DSTAR.desktop]
row=6
col=5

[/home/pi/Desktop/RXF_BM.desktop]
row=6
col=0

[/home/pi/Desktop/Abrir_remote.desktop]
row=6
col=9

[/home/pi/Desktop/Editar_DMRPLUS.desktop]
row=5
col=1

[/home/pi/Desktop/Abrir_svxlink.desktop]
row=4
col=15

[/home/pi/Desktop/Abrir_DMR2YSF.desktop]
row=4
col=12

[/home/pi/Desktop/Menu_extra.desktop]
row=1
col=8

[/home/pi/Desktop/Abrir_DMR2NXDN.desktop]
row=4
col=13

[/home/pi/Desktop/Menu_Autoarranque.desktop]
row=1
col=13

[/home/pi/Desktop/top.desktop]
row=1
col=14

[/home/pi/Desktop/RXF_ESPECIAL.desktop]
row=6
col=3

[/home/pi/Desktop/Editar_deextra.desktop]
row=7
col=9

[/home/pi/Desktop/RXF_RADIO.desktop]
row=6
col=2

[/home/pi/Desktop/Abrir_dv4mini.desktop]
row=4
col=7

[/home/pi/Desktop/Editar_D-STAR_Repeater.desktop]
row=5
col=10

[/home/pi/Desktop/Organiza_Iconos.desktop]
row=2
col=17

[/home/pi/Desktop/Abrir_Radio.desktop]
row=4
col=2

[/home/pi/Desktop/RXF_DMRPLUS.desktop]
row=6
col=1

[/home/pi/Desktop/Actualizar_DV4mini.desktop]
row=6
col=7

[/home/pi/Desktop/Abrir_NXDN.desktop]
row=4
col=14

[/home/pi/Desktop/Actualizar_salas_YSF.desktop]
row=6
col=6

[/home/pi/Desktop/Actualizar_BlueDV.DESKTOP]
row=6
col=8

[/home/pi/Desktop/Abrir_ESPECIAL.desktop]
row=4
col=3

[/home/pi/Desktop/Editar_C4FM.desktop]
row=5
col=6

[/home/pi/Desktop/Editar_YSF2DMR.desktop]
row=5
col=11

[/home/pi/Desktop/Activar_dvswitch.desktop]
row=6
col=17

[/home/pi/Desktop/RXF_NXDN.desktop]
row=6
col=14

[/home/pi/Desktop/Actualiza_imagen.desktop]
row=1
col=5

[/home/pi/Desktop/Editar_NXDN.desktop]
row=5
col=14

[/home/pi/Desktop/RXF_YSF2DMR.desktop]
row=6
col=11

[/home/pi/Desktop/Abrir_MMDVMBM.desktop]
row=4
col=0

[/home/pi/Desktop/Activar_NextionDriver.desktop]
row=5
col=17

[/home/pi/Desktop/Nota_version.desktop]
row=1
col=3

[/home/pi/Desktop/Abrir_YSF.desktop]
row=4
col=6

[/home/pi/Desktop/Editar_General.desktop]
row=2
col=3

[Papelera]
row=1
col=17

