[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c 'cd /home/pi/V105;lxterminal --geometry=80x15 -e sudo sh ejecutar_bm.sh'
Icon=/home/pi/V105/ICONO_BM_OFF.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[es_ES]=BRANDMEISTER
Hidden=false
Comment[es_ES]=EA3EIZ 