[Desktop Entry]
Version=1.0
Type=Application
Name=AbrirsoloDstar
Comment=solo dstar
Exec=sh -c "cd /home/pi/V11/; lxterminal --geometry=80x15 -e sudo sh ejecutar_solodstar.sh"
Icon=/home/pi/V11/SOLO_D-STAR.png
Comment=
Terminal=false
StartupNotify=false
Name[es_ES]=SOLO DSTAR
 