[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c 'cd /home/pi/V104; sudo sh ejecutar_dv4mini.sh'
Icon=/home/pi/V104/dv4k.png
Type=Application
StartupNotify=false
Categories=Hamradio;System;Utility;
Terminal=false
Name[es_ES]=Abrir DV4mini
Hidden=false
Comment[es_ES]=EA3EIZ
