[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c 'cd /home/pi/V104;lxterminal --geometry=80x15 -e sudo sh ejecutar_NXDN.sh'
Icon=/home/pi/V104/ICONO_NXDN_OFF.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[es_ES]=Abrir NXDN
Hidden=false
Comment[es_ES]=EA3EIZ
