[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c 'cd /home/pi/V11;lxterminal --geometry=80x15 -e sudo sh ejecutar_svxlink.sh'
Icon=/home/pi/V11/ICONO_SVXLINK_OFF.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[es_ES]=SVXLINK
Hidden=false
Comment[es_ES]=EA3EIZ_
