[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c 'cd /home/pi/V11; sudo sh ejecutar_bluedv.sh'
Icon=/home/pi/V11/ICONO_BLUEDV_OFF.png
Type=Application
StartupNotify=false
Categories=Network;WebBrowser;
Terminal=false
Name[es_ES]=BLUEDV
Hidden=false
Comment[es_ES]=EA3EIZ 
