[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=qtel
Icon=/home/pi/V104/Qtel.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Name[en_US]=MMDVM Connect Screen
Terminal=false
Name[es_ES]=Abrir Qtel
Hidden=false
