[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c 'cd /home/pi/V104;lxterminal --geometry=80x15 -e sudo sh ejecutar_DMRPLUS.sh'
Icon=/home/pi/V104/ICONO_DMRPLUS_OFF.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[es_ES]=Abrir DMR+
Hidden=false
Comment[es_ES]=EA3EIZ
