[Desktop Entry]
Version=1.0
Type=Application
Name=Dvrptr
Comment=EA3EIZ
Exec=sh -c 'cd /home/pi/V11; sudo sh ejecutar_dvrptr.sh'
Icon=/home/pi/V11/ICONO_DVRPTR_OFF.png
Comment=
Terminal=false
StartupNotify=false
Name[es_ES]=DVRPTR
