[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c "cd /home/pi/V11;lxterminal -e sudo sh ejecutar_dvswitch.sh"
Icon=/home/pi/V11/ICONO_DVSWITCH_OFF.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[es_ES]=Activar DVSWITCH
Hidden=false
Comment[es_ES]=EA3EIZ
