[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c 'cd /home/pi/V105;lxterminal -e sudo sh actualizar_YSF.sh'
Icon=/home/pi/V105/ICONO_ACTUALIZAR_YSF.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[es_ES]=Actualizar Salas YSF
Hidden=false
Comment[es_ES]=EA3EIZ
