[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c 'cd /home/pi/V11/;lxterminal --geometry=40x5 -e sudo sh actualizar_IDS_MMDVMHost.sh'
Icon=/home/pi/V11/ICONO_ACTUALIZAR_IDS.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[es_ES]=Actualizar IDS
Hidden=false
Comment[es_ES]=EA3EIZ
