[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c "cd /home/pi/V105;lxterminal --geometry=80x20 -e sudo sh  actualiza_imagen.sh"
Icon=/home/pi/V105/ICONO_ACTUALIZAR_IMAGEN.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[es_ES]=Actualizar IMAGEN
Hidden=false
X-KeepTerminal=true
