[Desktop Entry]
Comment=EA3EIZl
Exec=sh -c "cd /home/pi/V11; lxterminal --geometry=40x2 -e sudo sh borrar_logs.sh"
Type=Application
Terminal=false
Comment[es_ES]=
Name[es_ES]=Borrar  LOGS
Icon=/home/pi/V11/ICONO_BORRAR_LOGS.png
