[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c "geany /home/pi/bluedv/DExtra_Hosts.txt"
Icon=/home/pi/V11/ICONO_EDITAR_DEXTRA_BLUEDV.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[es_ES]=Edit DExtra
Hidden=false
Comment[es_ES]=EA3EIZ

