[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c 'cd /home/pi/V104;lxterminal --geometry=77x20 -e sudo sh editar_ambe_server.sh'
Icon=/home/pi/V104/ICONO_EDITAR_BLUEDV.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[es_ES]=Editar AMBE SERVER
Hidden=false
Comment[es_ES]=EA3EIZ
