[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sudo dstarrepeaterconfig
Icon=/home/pi/V11/Editar_repeater.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Name[en_US]=MMDVM Connect Screen
Terminal=false
Name[es_ES]=Editar REPEATER
Hidden=false
Comment[es_ES]=
