[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c "cd /home/pi/V11;lxterminal --geometry=82x52 -e sudo sh  editar_MMDVMDMR2YSF.sh"
Icon=/home/pi/V11/ICONO_EDITAR_DMR2YSF.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Name[en_US]=MMDVM Connect Screen
Terminal=false
Name[es_ES]=Editar DMR2YSF
Hidden=false
Comment[es_ES]=
X-KeepTerminal=false
