[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c 'cd /home/pi/V11;sudo sh idioma.sh'
Icon=/home/pi/V11/ICONO_SPANISH.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[es_ES]=SPANISH
Hidden=false
Comment[es_ES]=EA3EIZ