[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c "cd /home/pi/V105; lxterminal -e sh colocar_iconos.sh"
Icon=/home/pi/V105/ICONO_ICO.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[es_ES]=Restaurar ICONOS
Hidden=false
Comment[es_ES]=EA3EIZ
