[Desktop Entry]
Version=1.0
Type=Application
Name=Restaurar ICONOS
Comment=Organiza iconos
Exec=sh colocar_iconos.sh
Icon=/home/pi/V105/ICONO_ICO.png
Path=/home/pi/V105
Terminal=false
StartupNotify=false
