[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=ls
Icon=/home/pi/V11/ICONO_INFO.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Name[en_US]=
Terminal=false
Name[en_US]=DMR2NXDN
Hidden=false
