[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c "cd /home/pi/V105;lxterminal --geometry=35x15 -e sudo sh info_bm.sh"
Icon=/home/pi/V105/ICONO_INFO.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Name[en_US]=MMDVM Connect Screen
Terminal=false
Name=BM
Hidden=false
