[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=ls
Icon=/home/pi/V11/ICONO_INFO.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Comment[es_ES]=EA3EIZ
Name[en_US]=ESPECIAL
Hidden=false
